
<!doctype html>
<html lang='ko'>
    <head>
        <base href="/"/>
        <link rel="icon" href="<%= domain %>/favicon.ico" type="image/x-icon"/>
        <meta name="title" content="<%= data.title %>"/>
        <meta property="og:title" content="<%= data.title %>"/>
        <meta name="description" content="<%= data.title %>"/>
        <meta name="og:description" content="<%= data.title %>"/>

        <meta property="url" content="<%= domain %>"/>
        <meta property="og:url" content="<%= domain %>"/>

        <meta property="image:alt" content="<%= data.title %>"/>
        <meta property="og:image:alt" content="<%= data.title %>"/>

        <title id="main_title"><%= data.title %></title>
    </head>

    <body>
        <style>
            .body {
                margin-top: 50px;
                text-align: center;
                font-size: 18px;
            }
            p {
                font-size: 30px;
                margin-bottom: 15px;
                font-weight: bold;
            }
            .id {
                margin-top: 5px;
                font-size: 15px;
                padding: 5px 5px;
            }
            .btn {
                margin-top: 10px;
                padding: 1px 4px;
                font-size: 25px;
            }
            pre {
                margin-top: 50px;
                margin-bottom: 150px;
                margin-left: 40px;
                font-size: 15px;
            }
        </style>
        <div class="body">
            <button class="btn" onclick="location.href='/<%if(data.name){%>log<%}%>'">돌아가기</button>
            <p>
                로그확인
                <% if (data.name) { %>
                    - <%- data.name %>
                <% } %>
            </p>
            <% if (!data.name) { %>
                <button class="btn" onclick="location.href='/log/bot'">로그 - 봇</button><br/>
                <button class="btn" onclick="location.href='/log/quiz'">로그 - 퀴즈</button><br/>
                <button class="btn" onclick="location.href='/log/site'">로그 - 사이트</button><br/>
                <button class="btn" onclick="location.href='/log/selfcheck'">로그 - 자가진단</button><br/>
            <% } %>
        </div>
        <% if (data.name) { %>
            <% if (data.text) { %>
<pre><%= data.text %></pre>
            <% } else { %>
<p style="text-align: center; margin-top: 50px;">없음</p>
            <% } %>
        <% } %>
    </body>
</html>
