
<!doctype html>
<html lang='ko'>
    <head>
        <base href="/"/>
        <link rel="icon" href="<%= domain %>/favicon.ico" type="image/x-icon"/>
        <meta name="title" content="<%= data.title %>"/>
        <meta property="og:title" content="<%= data.title %>"/>
        <meta name="description" content="<%= data.title %>"/>
        <meta name="og:description" content="<%= data.title %>"/>

        <meta property="url" content="<%= domain %>"/>
        <meta property="og:url" content="<%= domain %>"/>

        <meta property="image:alt" content="<%= data.title %>"/>
        <meta property="og:image:alt" content="<%= data.title %>"/>

        <title id="main_title"><%= data.title %></title>
    </head>

    <body>
        <style>
            body {
                margin-top: 50px;
                text-align: center;
                font-size: 18px;
            }
            p {
                font-size: 30px;
                margin-bottom: 15px;
                font-weight: bold;
            }
            .btn {
                margin-top: 10px;
                padding: 1px 4px;
                font-size: 25px;
            }
        </style>
        <% if (data.login) { %>
            <button class="btn" onclick="location.href='/logout'">로그아웃</button><br/>
        <% } %>
        <% if (data.note) { %>
            <p>패치노트 - <%= data.notetext %></p>
            <% if (data.file) { %>
                <button class="btn" onclick="location.href='/patchnote/<%= data.note %>'">돌아가기</button><br/>
                <button class="btn" onclick="location.href='/patchnote/<%= data.note %>/remove/<%= data.file %>'">노트삭제</button><br/>
                <button class="btn" onclick="location.href='/patchnote/<%= data.note %>/write/<%= data.file %>'">수정하기</button><br/>
            <% } else { %>
                <button class="btn" onclick="location.href='/patchnote'">돌아가기</button><br/>
                <button class="btn" onclick="location.href='/patchnote/<%= data.note %>/write'">글쓰기</button><br/>
            <% } %>
            <br/>
            <% if (data.text) { %>
                <%- data.text %>
            <% } else { %>
                글 없음
            <% } %>
        <% } else { %>
            <p>패치노트</p>
            <button class="btn" onclick="location.href='/patchnote/bot'">패치노트 - 디스코드 봇</button><br/>
            <button class="btn" onclick="location.href='/patchnote/site'">패치노트 - 사이트</button><br/>
            <button class="btn" onclick="location.href='/patchnote/musicquiz'">패치노트 - 음악퀴즈</button><br/>
        <% } %>
    </body>
</html>
